.btn {
    color: #f8f9fa;
    background-color: #013a63;
    border: none;
    border-radius: 50px;
    padding: 0.5em 1.5em;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btnn {
    color: #f8f9fa;
    background-color: grey;
    border: none;
    border-radius: 50px;
    padding: 0.5em 1.5em;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btndanger {
    color: #f8f9fa;
    background-color: rgb(155, 12, 12);
    border: none;
    border-radius: 50px;
    padding: 0.5em 1.5em;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.bi {
    color: #013a63;
    font-size: 1.2rem;
}